@import '_fons';
@import '_normalize';

$body-text: #999999;
$yellow: #fce38a;
$white: #ffffff;
$black-text:#333333;
$pink:#f38181;
$img-fon:#95e1d3;
$border:#000000;

body {
  font-family: Roboto;
  font-size: 15px;
  color: $body-text;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Container */
.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // background: rgb(161, 158, 158);
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// Extra extra large ≥1400px
@media (max-width: 1400px){

}
// Extra large  ≥1200px
@media (max-width: 1200px){

}
// Large  ≥992px
@media (max-width: 992px){

}
// Medium  ≥768px
@media (max-width: 768px){

}
// Small  ≥576px
@media (max-width: 557px){

}