@import '_global';

/* Header start */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  // .header__inner

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.container {
}
.logo {
  // Style for "MoGo"
  width: 86px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;

  // // Text style for "M, G"
  // font-style: normal;
  // letter-spacing: normal;
  // line-height: normal;
  // text-transform: uppercase;
  // // Text style for "o, o"
  // font-style: normal;
  // letter-spacing: normal;
  // line-height: normal;
}

/* NAV start */
.nav {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  // .nav__item
  &__item {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-left: 57px;
    text-transform: uppercase;
  }
  // .nav__item-link
  &__item-link {
    text-decoration: none;
    color: $white;
    cursor: pointer;
    transition: color 0.1s liner;
    position: relative;
    &:active,
    &:hover,
    &:hover::after,
    &:focus {
      cursor: pointer;
      color: $yellow;
      // display: block;
      opacity: 1;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      // display: none;
      background-color: $yellow;
      position: absolute;
      opacity: 0;
      top: 100%;
      left: 0;
      transition: opacity 0.1s liner;
      z-index: 1;
    }
  }
  &__link-active {
    color: $yellow;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      // display: none;
      opacity: 1;
      background-color: $yellow;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  }
}
/* NAV end */

/* Header end */

/* INTRO  start*/
.intro {
  width: 1920px;
  height: 1000px;
  // // background-color: #fce38a;
  // background-image: linear-gradient(
  //   to top,
  //   rgba(252, 227, 138, 0.9) 0%,
  //   rgba(243, 129, 129, 0.9) 100%
  // );
  position:absolute;
    background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );

  // .intro__bg

  &__bg {
    // position:absolute;
  // // background-color: #fce38a;
  // background-image: linear-gradient(
  //   to top,
  //   rgba(252, 227, 138, 0.9) 0%,
  //   rgba(243, 129, 129, 0.9) 100%
  // );
// width: 100%;
// height:100%;
transition: .3s;
    
  }
}
.container {
}
